[package]
name = "relay-ua"
authors = ["Sentry <oss@sentry.io>"]
description = "User agent parser with built-in rules"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "25.11.1"
edition = "2024"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[dependencies]
uaparser = { workspace = true }

[features]
default = []
