[package]
name = "relay-quotas"
authors = ["Sentry <oss@sentry.io>"]
description = "Sentry quotas and rate limiting"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.10.1"
edition = "2021"
license-file = "../LICENSE"
publish = false

[features]
default = []
redis = ["dep:thiserror", "dep:relay-log", "relay-redis/impl"]

[dependencies]
relay-base-schema = { path = "../relay-base-schema" }
relay-common = { path = "../relay-common" }
relay-log = { path = "../relay-log", optional = true }
relay-redis = { path = "../relay-redis", optional = true }
serde = { workspace = true }
smallvec = { workspace = true }
thiserror = { workspace = true, optional = true }

[dev-dependencies]
insta = { workspace = true }
serde_json = { workspace = true }
