[package]
name = "relay-quotas"
authors = ["Sentry <oss@sentry.io>"]
description = "Sentry quotas and rate limiting"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.7.1"
edition = "2021"
license-file = "../LICENSE"
publish = false

[features]
default = []
redis = [
    "dep:thiserror",
    "dep:relay-log",
    "relay-redis/impl",
]

[dependencies]
relay-common = { path = "../relay-common" }
relay-log = { path = "../relay-log", optional = true }
relay-redis = { path = "../relay-redis", optional = true }
serde = { version = "1.0.114", features = ["derive"] }
smallvec = { version = "1.4.0", features = ["serde"] }
thiserror = { version = "1.0.38", optional = true }

[dev-dependencies]
insta = { version = "1.19.0", features = ["ron"] }
serde_json = "1.0.55"
