[package]
name = "relay-quotas"
authors = ["Sentry <oss@sentry.io>"]
description = "Sentry quotas and rate limiting"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "0.5.7"
edition = "2018"
license-file = "../LICENSE"
publish = false

[features]
default = []
rate-limiter = [
    "failure",
    "log",
    "relay-redis/impl",
    "sentry",
]
legacy = []

[dependencies]
failure = { version = "0.1.5", optional = true }
log = { version = "0.4.8", optional = true }
relay-common = { path = "../relay-common" }
relay-redis = { path = "../relay-redis", optional = true }
sentry = { version = "0.18.0", optional = true }
serde = { version = "1.0.98", features = ["derive"] }
smallvec = { version = "1.2.0", features = ["serde"] }

[dev-dependencies]
lazy_static = "1.3.0"
insta = { version = "0.15.0", features = ["ron"] }
serde_json = "1.0.40"
