[package]
name = "relay-cabi"
version = "0.8.7"
authors = ["Sentry <oss@sentry.io>"]
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
description = "Exposes some internals of the relay to C."
edition = "2018"
license-file = "../LICENSE"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
chrono = "0.4.11"
failure = "0.1.8"
json-forensics = { version = "*", git = "https://github.com/getsentry/rust-json-forensics" }
lazy_static = "1.4.0"
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
relay-auth = { path = "../relay-auth" }
relay-common = { path = "../relay-common" }
relay-ffi = { path = "../relay-ffi" }
relay-general = { path = "../relay-general" }
relay-sampling = { path = "../relay-sampling" }
sentry-release-parser = { version = "1.1.1", features = ["serde"] }
