# Default code owners
*   @getsentry/owners-ingest

# Legal
/LICENSE  @getsentry/owners-legal

# Build & Releases
/.github/workflows/release*.yml  @getsentry/release-approvers

# AWS Extension
/relay-aws-extension/  @getsentry/team-web-sdk-backend

# Profiling
/relay-profiling/ @getsentry/profiling
