# Ignore every file change
*
# Except the following matches (lines starting with exclamation marks)
# Read: Rebuild the Docker image everytime these change
!relay*/
!tools/
!Cargo.toml
!Cargo.lock

!docker-entrypoint.sh
!Makefile
