# Ignore every file change
*
# Except the following matches (lines starting with exclamation marks)
# Read: Include these files as part of the build process and if they change
# it will rebuild the Docker image
!.git

!relay*/
!tools/
!Cargo.toml
!Cargo.lock

!docker-entrypoint.sh
!Makefile
