[submodule "general/uap-core"]
	path = relay-ua/uap-core
	url = https://github.com/ua-parser/uap-core.git
[submodule "sentry-conventions"]
	path = relay-conventions/sentry-conventions
	url = https://github.com/getsentry/sentry-conventions
