# Rust
**/*.rs.bk
target
*.pending-snap

# Python
.venv/
.pytest_cache
*.pyc

# Runtime files
/.relay/

# Editors
/.idea/
.DS_Store

# NPM utilities for building docs
/node_modules/
package-lock.json

# Jsonnet-bundler
gocd/templates/vendor/
gocd/generated-pipelines/
