language: generic
services:
  - docker

cache:
  cargo: true
  directories:
    - cabi/target
    - py/venv

git:
  depth: 1

branches:
  only:
    - master

script: make $SUITE

matrix:
  include:
    # Rust tests
    - os: linux
      env: SUITE=format-check
      language: rust
      install: rustup component add rustfmt-preview
    - os: linux
      env: SUITE=cargotest
      language: rust
    - os: osx
      env: SUITE=cargotest
      language: rust

    # Python tests
    - os: linux
      env: SUITE=pytest
    - os: osx
      env: SUITE=pytest

    # Rust builds
    # - os: linux
    #   sudo: required
    #   env: SUITE=dockerbuild BUILD_ARCH=i686
    # - os: linux
    #   sudo: required
    #   env: SUITE=dockerbuild BUILD_ARCH=x86_64
    # - os: osx
    #   osx_image: xcode6.4
    #   language: rust
    #   env: SUITE=releasebuild
    #   install: skip

    # Python builds
    - os: linux
      sudo: required
      env: SUITE=manylinux BUILD_ARCH=i686
    - os: linux
      sudo: required
      env: SUITE=manylinux BUILD_ARCH=x86_64
    - os: osx
      osx_image: xcode7.3
      env: SUITE=wheel
    - os: linux
      sudo: required
      env: SUITE=sdist

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/a3901574-fbb7-11e7-9451-0a580a280114/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
