language: python
python: "3.7"
os: linux

git:
  depth: 1

branches:
  only:
    - master
    - /^release\/[\d.]+$/
    - /^release-library\/[\d.]+$/

before_install:
  - curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain ${RUST_TOOLCHAIN:-stable}
  - export PATH=~/.cargo/bin/:$PATH
  - '[ "$TRAVIS_BRANCH" != "master" ] || export PYTEST_SENTRY_ALWAYS_REPORT=1'

install: skip

before_cache:
  - make clean-target-dir

jobs:
  fast_finish: true
  include:
    # -------------------------------------
    # STATIC ANALYSIS
    # -------------------------------------

    - name: "check: lints"
      script: make -e style lint

    - name: "check: danger.js"
      language: node_js
      node_js: '12'
      dist: bionic
      cache:
        yarn: true
        directories:
          - node_modules
      script: make -e travis-run-danger

    # -------------------------------------
    # RUST TESTS
    # -------------------------------------

    - name: "test: relay[linux]"
      if: NOT branch ~= /^release-library\/[\d.]+$/
      addons:
        apt:
          packages:
            - libssl-dev
      services:
        - redis
      script: make -e test-rust-all

    - name: "test: relay[macos]"
      if: branch ~= /^release\/[\d.]+$/
      os: osx
      language: generic
      install:
        - brew update-reset
        - brew install redis
        - brew services start redis
      script: make -e test-rust-all

    # -------------------------------------
    # PYTHON LIBRARY TESTS
    # -------------------------------------

    - name: "test: librelay"
      if: NOT branch ~= /^release\/[\d.]+$/
      script: make -e test-python

    - name: "test: librelay[py2]"
      python: "2.7"
      if: NOT branch ~= /^release\/[\d.]+$/
      script: make -e RELAY_PYTHON_VERSION=python2 test-python

    # -------------------------------------
    # EXECUTALE INTEGRATION TESTS
    # -------------------------------------

    - name: "integration-test: relay"
      if: NOT branch ~= /^release-library\/[\d.]+$/
      env:
        - KAFKA_BOOTSTRAP_SERVER="localhost:9092"
      install:
        - export PATH=$PATH:$HOME/.cargo/bin
        - wget https://github.com/yyyar/gobetween/releases/download/0.6.0/gobetween_0.6.0_linux_amd64.tar.gz -O - | tar xz; mv gobetween $HOME/.cargo/bin
        - sudo add-apt-repository ppa:vbernat/haproxy-1.8 -y
        - sudo apt-get clean && sudo rm -r /var/lib/apt/lists/*
        - sudo apt-get update
        - sudo apt-get install haproxy redis-server -y
        # Start Zookeeper, Kafka and Redis
        - docker run -d --network host --name zookeeper -e ZOOKEEPER_CLIENT_PORT=2181 confluentinc/cp-zookeeper:4.1.2-3
        - docker run -d --network host --name kafka -e KAFKA_ZOOKEEPER_CONNECT=localhost:2181 -e KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://$KAFKA_BOOTSTRAP_SERVER -e KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1 confluentinc/cp-kafka:4.1.2-3
        - sudo service redis-server start --bind 127.0.0.1
      script:
        - make -e test-integration

    # -------------------------------------
    # RUST RELEASE BUILDS
    # -------------------------------------

    - name: "release: relay[linux]"
      if: branch ~= /^release\/[\d.]+$/
      language: generic
      before_install: skip
      services:
        - docker
      env:
        - BUILD_ARCH=x86_64
      script:
        - make -e docker
        - npm install -g @zeus-ci/cli || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zeus upload -t "application/octet-stream" -n relay-Linux-x86_64 target/x86_64-unknown-linux-gnu/release/relay  || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zip relay-debug.zip target/x86_64-unknown-linux-gnu/release/relay.debug
        - zeus upload -t "application/octet-stream" -n relay-Linux-x86_64-debug.zip relay-debug.zip  || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    - name: "release: relay[macos]"
      if: branch ~= /^release\/[\d.]+$/
      os: osx
      language: generic
      script:
        - make -e release
        - npm install -g @zeus-ci/cli || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zeus upload -t "application/octet-stream" -n relay-Darwin-x86_64 target/release/relay || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zip -r relay-dsym.zip target/release/relay.dSYM
        - zeus upload -t "application/octet-stream" -n relay-Darwin-x86_64-dsym.zip relay-dsym.zip || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    - name: "release: docs"
      if: branch ~= /^release\/[\d.]+$/
      before_script: npm install -g @zeus-ci/cli
      script: make -e travis-upload-prose-docs

    # -------------------------------------
    # PYTHON RELEASE BUILDS
    # -------------------------------------

    - name: "release: librelay[linux-x86]"
      if: branch ~= /^release-library\/[\d.]+$/
      env: BUILD_ARCH=i686
      language: generic
      script:
        - make -e wheel-manylinux
        - npm install -g @zeus-ci/cli || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zeus upload -t "application/zip+wheel" py/dist/* || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    - name: "release: librelay[linux-x86_64]"
      if: branch ~= /^release-library\/[\d.]+$/
      env: BUILD_ARCH=x86_64
      language: generic
      script:
        - make -e wheel-manylinux
        - npm install -g @zeus-ci/cli || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zeus upload -t "application/zip+wheel" py/dist/* || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    - name: "release: librelay[macos]"
      if: branch ~= /^release-library\/[\d.]+$/
      os: osx
      language: generic
      osx_image: xcode9.4
      env: RELAY_PYTHON_VERSION=python
      script:
        - make -e wheel
        - npm install -g @zeus-ci/cli || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zeus upload -t "application/zip+wheel" py/dist/* || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

    - name: "release: librelay[sdist]"
      if: branch ~= /^release-library\/[\d.]+$/
      script:
        - make -e sdist
        - npm install -g @zeus-ci/cli || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]
        - zeus upload -t "application/zip+wheel" py/dist/* || [[ ! "$TRAVIS_BRANCH" =~ ^release/ ]]

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/a3901574-fbb7-11e7-9451-0a580a280114/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
