[package]
authors = ["Sentry <hello@sentry.io>"]
description = "An proxy service for Sentry."
exclude = [".vscode/**/*"]
license = "MIT"
name = "semaphore"
readme = "README.md"
version = "0.1.2"
build = "build.rs"
publish = false

[features]
default = []
with_ssl = ["semaphore-server/with_ssl"]

[profile.release]
lto = true
debug = true

[dependencies]
clap = { version = "2.31.2", default-features = false, features = ["wrap_help"] }
failure = "0.1.1"
pretty_env_logger = "0.2.3"
tokio-core = "0.1.17"
futures = "0.1.21"
parking_lot = "0.5.5"
ctrlc = { version = "3.1.1", features = ["termination"] }
log = { version = "0.4.2", features = ["serde"] }
sentry = "0.5.4"
dialoguer = "0.1.0"
uuid = "0.6.5"
console = "0.6.1"
env_logger = "0.5.10"
chrono = "0.4.3"
serde_derive = "1.0.66"
serde = "1.0.66"
serde_json = "1.0.20"

[dependencies.semaphore-aorta]
path = "aorta"

[dependencies.semaphore-common]
path = "common"

[dependencies.semaphore-config]
path = "config"

[dependencies.semaphore-server]
path = "server"

[dependencies.semaphore-trove]
path = "trove"

[target."cfg(not(windows))".dependencies]
openssl-probe = "0.1.2"

[build-dependencies]
clap = { version = "2.31.2", default-features = false }

[patch.crates-io]
sentry = { git = "https://github.com/getsentry/sentry-rust", rev = "0bf9723d4bbb1820033d4d6906407c0df0d59286" }
sentry-types = { git = "https://github.com/getsentry/rust-sentry-types", rev = "3bb7f3847480676d753288b137e8f95a4f3af020" }
serde = { git = "https://github.com/mitsuhiko/serde", rev = "880a8c0181ad7202950f24cc8f6872994913441d" }
serde_derive = { git = "https://github.com/mitsuhiko/serde", rev = "880a8c0181ad7202950f24cc8f6872994913441d" }

[workspace]
