[package]
authors = ["Sentry <hello@sentry.io>"]
description = "An proxy service for Sentry."
exclude = [".vscode/**/*"]
license = "MIT"
name = "semaphore"
readme = "README.md"
version = "0.3.3"
edition = "2018"
build = "build.rs"
publish = false

[workspace]

[features]
default = []
with_ssl = ["semaphore-server/with_ssl"]

[profile.release]
debug = true

[dependencies]
chrono = "0.4.6"
clap = { version = "2.32.0", default-features = false, features = ["wrap_help"] }
console = "0.7.1"
dialoguer = "0.3.0"
env_logger = "0.6.0"
failure = "0.1.3"
futures = "0.1.25"
lazy_static = "1.2.0"
log = { version = "0.4.6", features = ["serde"] }
pretty_env_logger = "0.3.0"
semaphore-common = {path = "common"}
semaphore-server = {path = "server"}
semaphore-general = {path = "general"}
sentry = "0.12.1"
serde = "1.0.81"
serde_json = "1.0.33"
uuid = "0.7.1"

[target."cfg(not(windows))".dependencies]
openssl-probe = "0.1.2"

[build-dependencies]
clap = { version = "2.32.0", default-features = false }
