[package]
authors = ["Sentry <hello@sentry.io>"]
description = "An proxy service for Sentry."
exclude = [".vscode/**/*"]
license = "MIT"
name = "semaphore"
readme = "README.md"
version = "0.2.0"
build = "build.rs"
publish = false

[features]
default = []
with_ssl = ["semaphore-server/with_ssl"]

[profile.release]
debug = true

[dependencies]
clap = { version = "2.32.0", default-features = false, features = ["wrap_help"] }
failure = "0.1.2"
pretty_env_logger = "0.2.4"
futures = "0.1.24"
log = { version = "0.4.5", features = ["serde"] }
sentry = "0.11.1"
dialoguer = "0.1.0"
uuid = "0.7.1"
console = "0.6.2"
env_logger = "0.5.13"
chrono = "0.4.6"
serde_derive = "1.0.79"
serde = "1.0.79"
serde_json = "1.0.28"

[dependencies.semaphore-common]
path = "common"

[dependencies.semaphore-server]
path = "server"

[target."cfg(not(windows))".dependencies]
openssl-probe = "0.1.2"

[build-dependencies]
clap = { version = "2.32.0", default-features = false }

[patch.crates-io]
serde = { git = "https://github.com/mitsuhiko/serde", rev = "880a8c0181ad7202950f24cc8f6872994913441d" }
serde_derive = { git = "https://github.com/mitsuhiko/serde", rev = "880a8c0181ad7202950f24cc8f6872994913441d" }

[workspace]
