[package]
authors = ["Sentry <hello@sentry.io>"]
description = "An proxy service for Sentry."
exclude = [".vscode/**/*", ".idea/**/*"]
license = "MIT"
name = "semaphore"
readme = "README.md"
version = "0.4.50"
edition = "2018"
build = "build.rs"
publish = false

[workspace]

[features]
default = []
with_ssl = ["semaphore-server/with_ssl"]
processing = ["semaphore-common/processing", "semaphore-server/processing"]

[profile.release]
debug = true

[dependencies]
chrono = "0.4.7"
clap = { version = "2.33.0", default-features = false, features = ["wrap_help"] }
console = "0.8.0"
dialoguer = "0.4.0"
env_logger = "0.6.2"
failure = "0.1.5"
futures = "0.1.28"
lazy_static = "1.3.0"
log = { version = "0.4.8", features = ["serde"] }
pretty_env_logger = "0.3.0"
semaphore-common = {path = "common"}
semaphore-server = {path = "server"}
semaphore-general = {path = "general"}
sentry ={ version = "0.17.0", features = ["with_debug_meta"] }
serde = "1.0.98"
serde_json = "1.0.40"
uuid = "0.7.4"

[target."cfg(not(windows))".dependencies]
openssl-probe = "0.1.2"

[build-dependencies]
clap = { version = "2.33.0", default-features = false }
