[package]
authors = ["Sentry <hello@sentry.io>"]
description = "An proxy service for Sentry.\n"
exclude = [".vscode/**/*"]
license = "MIT"
name = "sentry-relay"
readme = "README.md"
version = "0.1.0"

[features]
default = []
with_ssl = ["semaphore-server/with_ssl"]

[profile.release]
lto = true

[dependencies]
clap = { version = "2.31.2", default-features = false }
failure = "0.1.1"
pretty_env_logger = "0.2.2"
tokio-core = "0.1.17"
futures = "0.1.21"
parking_lot = "0.5.5"
ctrlc = { version = "3.1.0", features = ["termination"] }
log = "0.4.1"
sentry = "0.5.1"
dialoguer = "0.1.0"

[dependencies.semaphore-aorta]
path = "aorta"
version = "0.1.0"

[dependencies.semaphore-common]
path = "common"
version = "0.1.0"

[dependencies.semaphore-config]
path = "config"
version = "0.1.0"

[dependencies.semaphore-server]
path = "server"
version = "0.1.0"

[dependencies.semaphore-trove]
path = "trove"
version = "0.1.0"

[workspace]
