[package]
authors = ["Sentry <hello@sentry.io>"]
description = "An proxy service for Sentry."
exclude = [".vscode/**/*"]
license = "MIT"
name = "semaphore"
readme = "README.md"
version = "0.1.1"
build = "build.rs"
publish = false

[features]
default = []
with_ssl = ["semaphore-server/with_ssl"]

[profile.release]
lto = true

[dependencies]
clap = { version = "2.31.2", default-features = false, features = ["wrap_help"] }
failure = "0.1.1"
pretty_env_logger = "0.2.2"
tokio-core = "0.1.17"
futures = "0.1.21"
parking_lot = "0.5.5"
ctrlc = { version = "3.1.0", features = ["termination"] }
log = "0.4.1"
sentry = "0.5.1"
dialoguer = "0.1.0"
uuid = "0.6.3"

[dependencies.semaphore-aorta]
path = "aorta"

[dependencies.semaphore-common]
path = "common"

[dependencies.semaphore-config]
path = "config"

[dependencies.semaphore-server]
path = "server"

[dependencies.semaphore-trove]
path = "trove"

[target."cfg(not(windows))".dependencies]
openssl-probe = "0.1.2"

[build-dependencies]
clap = { version = "2.31.2", default-features = false }

[patch.crates-io]
sentry = { git = "https://github.com/getsentry/sentry-rust", rev = "0bf9723d4bbb1820033d4d6906407c0df0d59286" }

[workspace]
