[tool.black]
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | venv
  | target
)/
'''

[tool.mypy]
exclude = ["^py/sentry_relay/_lowlevel__ffi.py"]

[[tool.mypy.overrides]]
module = [
    "confluent_kafka.*",
    "msgpack.*",
    "pytest_localserver.*",
    "opentelemetry.*"
]
ignore_missing_imports = true
