--index-url https://pypi.devinfra.sentry.io/simple
black==22.10.0
blinker==1.5
click==8.0.4
flake8==6.0.0
confluent-kafka==1.9.2
flask==2.2.2
msgpack==1.0.4
pytest-localserver==0.7.0
pytest-sentry==0.1.11
pytest-xdist==3.0.2
pytest==7.1.2
PyYAML==6.0
redis==3.4.1
requests==2.28.1
git+https://github.com/getsentry/sentry-python@e234998ae82a9cffa6fb3718801c55ba24a86bab#egg=sentry_sdk
werkzeug==2.2.2
sentry-relay==0.8.15
zstandard==0.18.0
