[package]
name = "semaphore-general"
version = "0.4.31"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
edition = "2018"

[dependencies]
bytecount = "0.5.0"
chrono = "0.4.6"
cookie = { version = "0.11.0", features = ["percent-encode"] }
debugid = { version = "0.5.1", features = ["serde"] }
dynfmt = { version = "0.1.1", features = ["python", "curly"] }
failure = "0.1.5"
hmac = "0.7.0"
insta = "0.7.4"
itertools = "0.8.0"
lazy_static = "1.2.0"
maxminddb = "0.12.0"
num-traits = "0.2.6"
regex = "1.1.0"
semaphore-general-derive = { path = "derive" }
sha-1 = "0.8.1"
sha2 = "0.8.0"
serde = { version = "1.0.85", features = ["derive"] }
serde_json = "1.0.36"
serde_urlencoded = "0.5.4"
smallvec = { version = "0.6.8", features = ["serde"] }
url = "1.7.2"
uuid = { version = "0.7.1", features = ["v4", "serde"] }

[dev-dependencies]
difference = "2.0.0"

[features]
bench = []
