[package]
name = "relay-metrics"
authors = ["Sentry <oss@sentry.io>"]
description = "Metrics protocol and processing"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.8.0"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[features]
redis = ["relay-redis/impl"]

[dependencies]
bytecount = { workspace = true }
chrono = { workspace = true }
fnv = { workspace = true }
hash32 = { workspace = true }
hashbrown = { workspace = true }
itertools = { workspace = true }
priority-queue = { workspace = true }
relay-base-schema = { workspace = true }
relay-cardinality = { workspace = true }
relay-cogs = { workspace = true }
relay-common = { workspace = true }
relay-log = { workspace = true }
relay-redis = { workspace = true, optional = true }
relay-statsd = { workspace = true }
relay-system = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
smallvec = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["time"] }
unescaper = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
insta = { workspace = true }
rand = { workspace = true }
relay-statsd = { workspace = true, features = ["test"] }
relay-test = { workspace = true }
similar-asserts = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[[bench]]
name = "benches"
harness = false
