[package]
name = "relay-metrics"
authors = ["Sentry <oss@sentry.io>"]
description = "Metrics protocol and processing"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "21.3.0"
edition = "2018"
license-file = "../LICENSE"
publish = false

[dependencies]
actix = "0.7.9"
hash32 = "0.1.1"
relay-common = { path = "../relay-common" }
relay-log = { path = "../relay-log" }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"

[dev-dependencies]
futures = "0.1.28"
insta = "1.1.0"
relay-test = { path = "../relay-test" }
