[package]
name = "relay-metrics"
authors = ["Sentry <oss@sentry.io>"]
description = "Metrics protocol and processing"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.10.1"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
bytecount = "0.6.0"
fnv = "1.0.7"
hash32 = "0.3.1"
itertools = { workspace = true }
relay-base-schema = { path = "../relay-base-schema" }
relay-common = { path = "../relay-common" }
relay-log = { path = "../relay-log" }
relay-statsd = { path = "../relay-statsd" }
relay-system = { path = "../relay-system" }
serde = { workspace = true }
serde_json = { workspace = true }
smallvec = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["time"] }

[dev-dependencies]
criterion = { workspace = true }
insta = { workspace = true }
rand = { workspace = true }
relay-statsd = { path = "../relay-statsd", features = ["test"] }
relay-test = { path = "../relay-test" }
similar-asserts = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[[bench]]
name = "benches"
harness = false
