[package]
name = "relay-metrics"
authors = ["Sentry <oss@sentry.io>"]
description = "Metrics protocol and processing"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "21.8.0"
edition = "2018"
license-file = "../LICENSE"
publish = false

[dependencies]
actix = "0.7.9"
float-ord = "0.3.1"
fnv = "1.0.7"
hash32 = "0.1.1"
relay-common = { path = "../relay-common" }
relay-log = { path = "../relay-log" }
relay-statsd = { path = "../relay-statsd" }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"

[dev-dependencies]
criterion = "0.3"
futures = "0.1.28"
insta = "1.1.0"
lazy_static = "1.4.0"
relay-test = { path = "../relay-test" }

[[bench]]
name = "aggregator"
harness = false
