[package]
name = "relay-statsd"
authors = ["Sentry <oss@sentry.io>"]
description = "High-level StatsD metric client for internal measurements"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "26.2.0"
edition = "2024"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[dependencies]
cadence = { workspace = true }
crossbeam-channel = { workspace = true }
parking_lot = { workspace = true }
rand = { workspace = true }
relay-log = { workspace = true }
sentry-core = { workspace = true, features = ["metrics"] }
statsdproxy = { workspace = true, features = ["cadence"] }

[features]
default = []
test = []
