[package]
name = "relay-replays"
authors = ["Sentry <oss@sentry.io>"]
description = "Replays functionality for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "22.9.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
relay-common = { path = "../relay-common" }
relay-general = { path = "../relay-general" }
relay-log = { path = "../relay-log" }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
relay-filter = { path = "../relay-filter" }
rand = "0.6.5"
rand_pcg = "0.1.2"
unicase = "2.6.0"

[dev-dependencies]
insta = { version = "1.1.0", features = ["ron"] }
