[package]
name = "relay-replays"
authors = ["Sentry <oss@sentry.io>"]
description = "Session replay functionality for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.8.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
flate2 = "1.0.19"
once_cell = "1.13.1"
relay-common = { path = "../relay-common" }
relay-event-schema = { path = "../relay-event-schema" }
relay-log = { path = "../relay-log" }
relay-pii = { path = "../relay-pii" }
relay-protocol = { path = "../relay-protocol" }
serde = { workspace = true }
serde_json = { workspace = true, features = ["raw_value"] }
serde-transcode = "1.1.1"

[dev-dependencies]
assert-json-diff = "2.0.2"
criterion = "0.5"
insta = { version = "1.31.0", features = ["ron"] }

[[bench]]
name = "benchmarks"
harness = false
