[package]
name = "relay-ourlogs"
authors = ["Sentry <oss@sentry.io>"]
description = "Log normalization and processing"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "26.1.0"
edition = "2024"
license-file = "../LICENSE"
publish = false

[lints]
workspace = true

[dependencies]
chrono = { workspace = true }
hex = { workspace = true }
opentelemetry-proto = { workspace = true, features = [
    "gen-tonic",
    "with-serde",
    "logs",
] }
relay-common = { workspace = true }
relay-conventions = { workspace = true }
relay-event-schema = { workspace = true }
relay-event-normalization = { workspace = true }
relay-otel = { workspace = true }
relay-protocol = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
