[package]
name = "relay-sampling"
authors = ["Sentry <oss@sentry.io>"]
description = "Dynamic sampling functionality for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.8.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
chrono = { workspace = true }
rand = "0.8.5"
rand_pcg = "0.3.1"
relay-base-schema = { path = "../relay-base-schema" }
relay-common = { path = "../relay-common" }
relay-event-schema = { path = "../relay-event-schema" }
relay-log = { path = "../relay-log" }
relay-protocol = { path = "../relay-protocol" }
serde = { workspace = true }
serde_json = { workspace = true }
unicase = "2.6.0"

[dev-dependencies]
insta = { workspace = true }
similar-asserts = { workspace = true }
