[package]
name = "relay-sampling"
authors = ["Sentry <oss@sentry.io>"]
description = "Dynamic sampling functionality for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.8.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
chrono = { version = "0.4.24", default-features = false, features = ["std"] }
rand = "0.8.5"
rand_pcg = "0.3.1"
relay-base-schema = { path = "../relay-base-schema" }
relay-common = { path = "../relay-common" }
relay-event-schema = { path = "../relay-event-schema" }
relay-log = { path = "../relay-log" }
relay-protocol = { path = "../relay-protocol" }
sentry-release-parser = { version = "1.3.1", features = ["serde"] }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
unicase = "2.6.0"

[dev-dependencies]
insta = { version = "1.19.0", features = ["ron"] }
similar-asserts = "1.4.2"
