[package]
name = "relay-sampling"
authors = ["Sentry <oss@sentry.io>"]
description = "Dynamic sampling functionality for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "26.2.1"
edition = "2024"
license-file = "../LICENSE.md"
publish = false

[features]
default = []
redis = ["dep:anyhow", "relay-redis/impl", "dep:relay-statsd"]

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true, optional = true }
chrono = { workspace = true, features = ["now"] }
rand = { workspace = true }
rand_pcg = { workspace = true }
relay-base-schema = { workspace = true }
relay-event-schema = { workspace = true }
relay-log = { workspace = true }
relay-protocol = { workspace = true }
relay-redis = { workspace = true, optional = true }
relay-statsd = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
uuid = { workspace = true }
tokio = { workspace = true, features = ["rt", "macros"] }

[dev-dependencies]
chrono = { workspace = true, features = ["clock"] }
insta = { workspace = true }
similar-asserts = { workspace = true }
