[package]
name = "relay-common"
authors = ["Sentry <oss@sentry.io>"]
description = "Common utilities for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "0.4.65"
edition = "2018"
license-file = "../LICENSE"

[dependencies]
backoff = "0.1.5"
base64 = "0.10.1"
cadence = "0.17.1"
chrono = "0.4.7"
ed25519-dalek = "0.9.1"
failure = "0.1.5"
globset = "0.4.4"
lazy_static = "1.3.0"
log = { version = "0.4.8", features = ["serde"] }
lru = "0.4.0"
parking_lot = "0.10.0"
rand = "0.6.5"
regex = "1.2.0"
sentry-types = "0.13.3"
serde = { version = "1.0.98", features = ["derive"] }
serde_json = "1.0.40"
sha2 = "0.8.1"
uuid = { version = "0.8.1", features = ["v4", "serde"] }
