[package]
name = "relay-common"
authors = ["Sentry <oss@sentry.io>"]
description = "Common utilities and crate re-exports for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "22.2.0"
edition = "2018"
license-file = "../LICENSE"
publish = false

[dependencies]
backoff = "0.1.6"
chrono = "0.4.11"
failure = "0.1.8"
globset = "0.4.5"
lazy_static = "1.4.0"
lazycell = "1.2.1"
lru = "0.4.0"
parking_lot = "0.10.0"
regex = "1.5.4"
relay-log = { path = "../relay-log" }
sentry-types = "0.20.0"
schemars = { version = "0.8.1", features = ["uuid", "chrono"], optional = true }
serde = { version = "1.0.114", features = ["derive"] }

[dev-dependencies]
serde_test = "1.0.125"

[features]
jsonschema = ["schemars"]
default = []
