[package]
name = "relay-common"
authors = ["Sentry <oss@sentry.io>"]
description = "Common utilities and crate re-exports for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.8.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
chrono = { workspace = true }
globset = "0.4.5"
lru = "0.9.0"
once_cell = { workspace = true }
parking_lot = "0.12.1"
regex = "1.9.1"
sentry-types = "0.31.3"
serde = { workspace = true }
uuid = { version = "1.3.0", features = ["serde", "v4", "v5"] }

[dev-dependencies]
serde_test = "1.0.125"
