[package]
name = "relay-common"
authors = ["Sentry <oss@sentry.io>"]
description = "Common utilities and crate re-exports for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.1.0"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[dependencies]
chrono = { workspace = true }
globset = "0.4.5"
lru = "0.9.0"
once_cell = { workspace = true }
parking_lot = "0.12.1"
regex = { workspace = true }
sentry-types = "0.31.3"
serde = { workspace = true }
serde_json = { workspace = true }

[dev-dependencies]
serde_test = "1.0.125"
