[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Server components for the relay"
documentation = "https://docs.rs/semaphore-server"
homepage = "https://github.com/getsentry/sentry-relay"
license = "MIT"
name = "semaphore-server"
repository = "https://github.com/getsentry/sentry-relay"
version = "0.1.0"
build = "build.rs"

[features]
default = []
with_ssl = ["openssl", "actix-web/alpn"]

[dependencies]
clap = "2.31.2"
failure = "0.1.1"
failure_derive = "0.1.1"
hyper = "0.11.25"
log = "0.4.1"
futures = "0.1.21"
parking_lot = "0.5.5"
regex = "1.0.0"
lazy_static = "1.0.0"
serde_json = "1.0.17"
tokio-core = "0.1.17"
actix = "0.5.6"
actix-web = { version = "0.5.6", default-features = false, features = ["brotli", "flate2-c"] }
openssl = { version = "0.10.7", optional = true }
sentry-types = "0.3.4"
serde = "1.0.45"
serde_derive = "1.0.45"
uuid = { version = "0.6.3", features = ["v4"] }
http = "0.1.5"
sentry = "0.5.1"
url = "1.7.0"
mime = "0.3.7"
bytes = "0.4.7"
base64 = "0.9.1"
flate2 = "1.0.1"

[dependencies.semaphore-aorta]
path = "../aorta"
version = "0.1.0"

[dependencies.semaphore-config]
path = "../config"
version = "0.1.0"

[dependencies.semaphore-common]
path = "../common"
version = "0.1.0"

[dependencies.semaphore-trove]
path = "../trove"
version = "0.1.0"
