[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Server components for the relay"
documentation = "https://docs.rs/smith-server"
homepage = "https://github.com/getsentry/sentry-relay"
license = "MIT"
name = "smith-server"
repository = "https://github.com/getsentry/sentry-relay"
version = "0.1.0"
build = "build.rs"

[features]
default = []
with_ssl = ["openssl", "actix-web/alpn"]

[dependencies]
clap = "2.31.2"
failure = "0.1.1"
failure_derive = "0.1.1"
hyper = "0.11.25"
log = "0.4.1"
futures = "0.1.18"
parking_lot = "0.5.4"
regex = "0.2.10"
lazy_static = "1.0.0"
serde_json = "1.0.16"
tokio-core = "0.1.17"
actix = "0.5.6"
actix-web = "0.5.6"
openssl = { version = "0.10.6", optional = true }
sentry-types = "0.3.2"
serde = "1.0.43"
serde_derive = "1.0.43"
uuid = { version = "0.6.3", features = ["v4"] }
http = "0.1.5"
sentry = "0.4.1"
url = "1.7.0"
mime = "0.3.5"

[dependencies.smith-aorta]
path = "../aorta"
version = "0.1.0"

[dependencies.smith-config]
path = "../config"
version = "0.1.0"

[dependencies.smith-common]
path = "../common"
version = "0.1.0"

[dependencies.smith-trove]
path = "../trove"
version = "0.1.0"
