[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Server components for the relay"
documentation = "https://docs.rs/semaphore-server"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-server"
repository = "https://github.com/getsentry/semaphore"
version = "0.4.44"
edition = "2018"
build = "build.rs"

[features]
default = ["with_ssl"]
with_ssl = ["native-tls", "actix-web/tls"]
processing = ["rdkafka", "rmp-serde", "redis", "r2d2"]

[dependencies]
actix = "0.7.9"
actix-web = { version = "0.7.19", default-features = false, features = ["brotli", "flate2-c"] }
base64 = "0.10.1"
bytes = { version = "0.4.12", features = ["serde"] }
chrono = { version = "0.4.7", features = ["serde"] }
clap = "2.33.0"
failure = "0.1.5"
flate2 = "1.0.9"
futures = "0.1.28"
json-forensics = { version = "*", git = "https://github.com/getsentry/rust-json-forensics" }
lazycell = "1.2.1"
lazy_static = "1.3.0"
listenfd = "0.3.3"
log = "0.4.8"
native-tls = { version = "0.2.3", optional = true }
num_cpus = "1.10.1"
parking_lot = "0.9.0"
r2d2 = { version = "0.8.5", optional = true }
# https://github.com/fede1024/rust-rdkafka/issues/125
rdkafka = { version = "0.21.0", git = "https://github.com/fede1024/rust-rdkafka", optional = true, rev = "0efbcf38150fad9fcd65b5f7f23f488c01248ae8" }
redis = { version = "0.12.1-alpha.0", git = "https://github.com/mitsuhiko/redis-rs", optional = true, branch = "feature/cluster", features = ["cluster", "r2d2"] }
regex = "1.2.0"
rmp-serde = { version = "0.13.7", optional = true }
sentry = "0.17.0"
sentry-actix = "0.17.0"
serde = { version = "1.0.98", features = ["derive"] }
serde_json = "1.0.40"
tokio-timer = "0.2.11"
url = "2.0.0"

[dependencies.semaphore-common]
path = "../common"

[dependencies.semaphore-general]
path = "../general"

[target."cfg(not(windows))".dependencies]
libc = "0.2.60"

[dev-dependencies]
insta = "0.11.0"
