[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Server components for the relay"
documentation = "https://docs.rs/semaphore-server"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-server"
repository = "https://github.com/getsentry/semaphore"
version = "0.1.3"
build = "build.rs"

[features]
default = ["with_ssl"]
with_ssl = ["native-tls", "actix-web/tls"]

[dependencies]
actix = "0.7.3"
actix-web = { version = "0.7.4", default-features = false, features = ["brotli", "flate2-c"] }
base64 = "0.9.2"
bytes = "0.4.9"
chrono = { version = "0.4.5", features = ["serde"] }
clap = "2.32.0"
failure = "0.1.2"
failure_derive = "0.1.2"
flate2 = "1.0.2"
futures = "0.1.23"
lazy_static = "1.0.2"
listenfd = "0.3.3"
log = "0.4.4"
num_cpus = "1.8.0"
regex = "1.0.2"
serde = "1.0.74"
serde_derive = "1.0.74"
serde_json = "1.0.26"
url = "1.7.1"
uuid = { version = "0.6.5", features = ["v4"] }
parking_lot = "0.6.3"
native-tls = { version = "0.2.1", optional = true }

[dependencies.semaphore-common]
path = "../common"

[target."cfg(not(windows))".dependencies]
libc = "0.2.43"
