[package]
authors = ["Sentry <oss@sentry.io>"]
description = "Server components for the relay"
documentation = "https://docs.rs/semaphore-server"
homepage = "https://github.com/getsentry/semaphore"
name = "semaphore-server"
repository = "https://github.com/getsentry/semaphore"
version = "0.4.63"
edition = "2018"
build = "build.rs"
license-file = "../LICENSE"

[features]
default = ["with_ssl"]
with_ssl = ["native-tls", "actix-web/tls"]
processing = ["rdkafka", "redis", "r2d2"]

[dependencies]
actix = "0.7.9"
actix-web = { version = "0.7.19", default-features = false, features = ["brotli", "flate2-c"] }
base64 = "0.10.1"
bytes = { version = "0.4.12", features = ["serde"] }
chrono = { version = "0.4.7", features = ["serde"] }
clap = "2.33.0"
failure = "0.1.5"
flate2 = "1.0.9"
futures = "0.1.28"
json-forensics = { version = "*", git = "https://github.com/getsentry/rust-json-forensics" }
lazy_static = "1.3.0"
listenfd = "0.3.3"
log = "0.4.8"
native-tls = { version = "0.2.3", optional = true }
parking_lot = "0.9.0"
r2d2 = { version = "0.8.5", optional = true }
rdkafka = { version = "0.21.0", git = "https://github.com/fede1024/rust-rdkafka", optional = true, rev = "b1a391b3264ca8e0b0e053c6aec7a6db09af3131" }
redis = { version = "0.12.1-alpha.0", git = "https://github.com/mitsuhiko/redis-rs", optional = true, branch = "feature/cluster", features = ["cluster", "r2d2"] }
regex = "1.2.0"
rmp-serde = "0.13.7"
sentry = "0.17.0"
sentry-actix = "0.17.0"
serde = { version = "1.0.98", features = ["derive"] }
serde_json = "1.0.40"
smallvec = "0.6.10"
tokio-timer = "0.2.11"
url = { version = "2.0.0", features = ["serde"] }
itertools = "0.8.1"
symbolic = { git = "https://github.com/getsentry/symbolic.git", tag="7.0.0", features=["unreal"] }

[dependencies.semaphore-common]
path = "../common"

[dependencies.semaphore-general]
path = "../general"

[target."cfg(not(windows))".dependencies]
libc = "0.2.60"
jemallocator = "0.3.2"

[dev-dependencies]
insta = "0.11.0"
