[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Server components for the relay"
documentation = "https://docs.rs/semaphore-server"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-server"
repository = "https://github.com/getsentry/semaphore"
version = "0.2.4"
build = "build.rs"

[features]
default = ["with_ssl"]
with_ssl = ["native-tls", "actix-web/tls"]

[dependencies]
actix = "0.7.4"
actix-web = { version = "0.7.13", default-features = false, features = ["brotli", "flate2-c"] }
base64 = "0.9.3"
bytes = "0.4.10"
chrono = { version = "0.4.6", features = ["serde"] }
clap = "2.32.0"
failure = "0.1.2"
failure_derive = "0.1.2"
flate2 = "1.0.2"
futures = "0.1.24"
lazy_static = "1.1.0"
listenfd = "0.3.3"
log = "0.4.5"
native-tls = { version = "0.2.1", optional = true }
num_cpus = "1.8.0"
parking_lot = "0.6.4"
regex = "1.0.5"
sentry = "0.11.1"
sentry-actix = "0.11.1"
serde = "1.0.79"
serde_derive = "1.0.79"
serde_json = "1.0.28"
tokio-timer = "0.2.6"
url = "1.7.1"

[dependencies.semaphore-common]
path = "../common"

[target."cfg(not(windows))".dependencies]
libc = "0.2.43"
