[package]
name = "relay-server"
authors = ["Sentry <oss@sentry.io>"]
description = "Endpoints and services for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "20.10.1"
edition = "2018"
build = "build.rs"
license-file = "../LICENSE"
publish = false

[features]
default = []
ssl = ["native-tls", "actix-web/tls"]
processing = [
    "minidump",
    "rdkafka",
    "rdkafka-sys",
    "rdkafka-sys/cmake-build",
    "relay-config/processing",
    "relay-quotas/redis",
    "relay-redis/impl",
    "symbolic",
]

[dependencies]
actix = "0.7.9"
actix-web = { version = "0.7.19", default-features = false, features = ["brotli", "flate2-c"] }
base64 = "0.10.1"
bytes = { version = "0.4.12", features = ["serde"] }
chrono = { version = "0.4.11", features = ["serde"] }
clap = "2.33.1"
failure = "0.1.8"
flate2 = "1.0.14"
futures = "0.1.28"
itertools = "0.8.2"
json-forensics = { version = "*", git = "https://github.com/getsentry/rust-json-forensics" }
lazy_static = "1.4.0"
listenfd = "0.3.3"
log = "0.4.8"
minidump = { git = "https://github.com/luser/rust-minidump", rev = "f8a18211dbb0bf7dca5dd41e578af4b366fcb9be", optional = true }
native-tls = { version = "0.2.4", optional = true }
parking_lot = "0.10.0"
rdkafka = { version = "0.24", optional = true }
rdkafka-sys = { version = "2.1.0", optional = true }
regex = "1.3.9"
relay-auth = { path = "../relay-auth" }
relay-common = { path = "../relay-common" }
relay-config = { path = "../relay-config" }
relay-filter = { path = "../relay-filter" }
relay-general = { path = "../relay-general" }
relay-quotas = { path = "../relay-quotas" }
relay-redis = { path = "../relay-redis" }
rmp-serde = "0.14.3"
sentry = "0.20.1"
sentry-actix = "0.20.1"
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
serde_urlencoded = "0.7.0"
smallvec = { version = "1.4.0", features = ["serde"] }
symbolic = { version = "7.5.0", optional = true, default-features=false, features=["unreal-serde"] }
tokio-timer = "0.2.13"
url = { version = "2.1.1", features = ["serde"] }
uuid = { version = "0.8.1", features = ["v5"] }

[target."cfg(not(windows))".dependencies]
libc = "0.2.71"

[dev-dependencies]
insta = "1.1.0"
env_logger = "0.7.1"
