[package]
name = "relay-server"
authors = ["Sentry <oss@sentry.io>"]
description = "Endpoints and services for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.8.0"
edition = "2021"
build = "build.rs"
license-file = "../LICENSE"
publish = false

[features]
default = []
processing = [
    "dep:minidump",
    "dep:symbolic-common",
    "dep:symbolic-unreal",
    "dep:zstd",
    "bytes/serde",
    "relay-config/processing",
    "relay-kafka/producer",
    "relay-quotas/redis",
    "relay-redis/impl",
]

[dependencies]
anyhow = { workspace = true }
axum = { version = "0.6.15", features = [
    "headers",
    "macros",
    "matched-path",
    "multipart",
    "tracing",
] }
axum-server = "0.4.7"
backoff = "0.4.0"
brotli = "3.3.4"
bytecount = "0.6.0"
bytes = { version = "1.4.0" }
chrono = { workspace = true, features = ["clock"] }
data-encoding = "2.3.3"
flate2 = "1.0.19"
futures = "0.3"
hashbrown = "0.13.2"
itertools = { workspace = true }
json-forensics = { version = "0.1.1" }
mime = "0.3.16"
minidump = { version = "0.15.2", optional = true }
multer = "2.0.4"
once_cell = { workspace = true }
regex = "1.9.1"
relay-auth = { path = "../relay-auth" }
relay-aws-extension = { path = "../relay-aws-extension" }
relay-base-schema = { path = "../relay-base-schema" }
relay-common = { path = "../relay-common" }
relay-config = { path = "../relay-config" }
relay-dynamic-config = { path = "../relay-dynamic-config" }
relay-event-normalization = { path = "../relay-event-normalization" }
relay-event-schema = { path = "../relay-event-schema" }
relay-filter = { path = "../relay-filter" }
relay-kafka = { path = "../relay-kafka", optional = true }
relay-log = { path = "../relay-log", features = ["sentry"] }
relay-metrics = { path = "../relay-metrics" }
relay-monitors = { path = "../relay-monitors" }
relay-pii = { path = "../relay-pii" }
relay-profiling = { path = "../relay-profiling" }
relay-protocol = { path = "../relay-protocol" }
relay-quotas = { path = "../relay-quotas" }
relay-redis = { path = "../relay-redis" }
relay-replays = { path = "../relay-replays" }
relay-sampling = { path = "../relay-sampling" }
relay-statsd = { path = "../relay-statsd" }
relay-system = { path = "../relay-system" }
reqwest = { version = "0.11.1", features = [
    "gzip",
    "stream",
    "trust-dns",
    "native-tls-vendored",
] }
rmp-serde = "1.1.1"
serde = { workspace = true }
serde_json = { workspace = true }
smallvec = { workspace = true }
sqlx = { version = "0.7.0", features = [
    "macros",
    "migrate",
    "sqlite",
    "runtime-tokio",
], default-features = false }
symbolic-common = { version = "12.1.2", optional = true, default-features = false }
symbolic-unreal = { version = "12.1.2", optional = true, default-features = false, features = [
    "serde",
] }
thiserror = { workspace = true }
tokio = { version = "1.28.0", features = ["rt-multi-thread", "sync", "macros"] }
tower = { version = "0.4.13", default-features = false }
tower-http = { version = "0.4.0", default-features = false, features = [
    "catch-panic",
    "cors",
    "decompression-br",
    "decompression-deflate",
    "decompression-gzip",
    "set-header",
    "trace",
] }
url = { version = "2.1.1", features = ["serde"] }
zstd = { version = "0.12.3", optional = true }

[dev-dependencies]
insta = { workspace = true }
relay-event-schema = { path = "../relay-event-schema", features = [
    "jsonschema",
] }
relay-protocol = { path = "../relay-protocol", features = ["test"] }
relay-test = { path = "../relay-test" }
similar-asserts = { workspace = true }
tempfile = "3.5.0"
