[package]
name = "relay-server"
authors = ["Sentry <oss@sentry.io>"]
description = "Server components for the Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "0.5.3"
edition = "2018"
build = "build.rs"
license-file = "../LICENSE"
publish = false

[features]
default = ["with_ssl"]
with_ssl = ["native-tls", "actix-web/tls"]
processing = ["rdkafka", "redis", "r2d2", "symbolic", "relay-config/processing"]

[dependencies]
actix = "0.7.9"
actix-web = { version = "0.7.19", default-features = false, features = ["brotli", "flate2-c"] }
base64 = "0.10.1"
bytes = { version = "0.4.12", features = ["serde"] }
chrono = { version = "0.4.7", features = ["serde"] }
clap = "2.33.0"
failure = "0.1.5"
flate2 = "1.0.9"
futures = "0.1.28"
itertools = "0.8.2"
json-forensics = { version = "*", git = "https://github.com/getsentry/rust-json-forensics" }
lazy_static = "1.3.0"
listenfd = "0.3.3"
log = "0.4.8"
native-tls = { version = "0.2.3", optional = true }
parking_lot = "0.10.0"
r2d2 = { version = "0.8.8", optional = true }
rdkafka = { version = "0.22.0", optional = true }
redis = { version = "0.15.1", optional = true, features = ["cluster", "r2d2"] }
regex = "1.2.0"
relay-auth = { path = "../relay-auth" }
relay-common = { path = "../relay-common" }
relay-config = { path = "../relay-config" }
relay-filter = { path = "../relay-filter" }
relay-general = { path = "../relay-general" }
rmp-serde = "0.13.7"
sentry = "0.17.0"
sentry-actix = "0.17.0"
serde = { version = "1.0.98", features = ["derive"] }
serde_json = "1.0.40"
smallvec = "0.6.10"
symbolic = { git = "https://github.com/getsentry/symbolic.git", branch="master", optional = true, default-features=false, features=["unreal-serde"] }
tokio-timer = "0.2.11"
url = { version = "2.0.0", features = ["serde"] }

[target."cfg(not(windows))".dependencies]
libc = "0.2.60"

[dev-dependencies]
insta = "0.12.0"
