[package]
name = "relay-server"
authors = ["Sentry <oss@sentry.io>"]
description = "Endpoints and services for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.3.0"
edition = "2021"
build = "build.rs"
license-file = "../LICENSE"
publish = false

[features]
default = []
ssl = [
    # "actix-web/tls",
    # "dep:native-tls",
    "dep:tokio-native-tls",
    "relay-quotas/tls",
    "relay-redis/tls",
]
processing = [
    "dep:minidump",
    "dep:relay-monitors",
    "dep:relay-profiling",
    "dep:symbolic-common",
    "dep:symbolic-unreal",
    "dep:zstd",
    "bytes/serde",
    "relay-config/processing",
    "relay-kafka/producer",
    "relay-quotas/redis",
    "relay-redis/impl",
]

[dependencies]
# actix = "0.7.9"
# actix-web = { version = "0.7.19", default-features = false }
anyhow = "1.0.66"
axum = { version = "0.6.11", features = ["headers", "macros", "matched-path", "multipart"] }
axum-server = "0.4.7"
backoff = "0.4.0"
brotli2 = "0.3.2"
bytes = { version = "1.4.0" }
chrono = { version = "0.4.11", features = ["serde"] }
data-encoding = "2.3.3"
# failure = "0.1.8"
flate2 = "1.0.19"
# fragile = { version = "2.0.0", features = ["slab"] } # used for vendoring sentry-actix
futures = "0.3"
# futures01 = { version = "0.1.28", package = "futures" }
hashbrown = "0.13.2"
# hyper = { version = "0.14.25", default-features = false }  # TODO: Really needed? Remove if possible
itertools = "0.10.5"
json-forensics = { version = "*", git = "https://github.com/getsentry/rust-json-forensics" }
mime = "0.3.16"
minidump = { version = "0.15.2", optional = true }
multer = "2.0.4"
# native-tls = { version = "0.2.11", optional = true }
once_cell = "1.13.1"
parking_lot = "0.12.1"
regex = "1.5.5"
relay-auth = { path = "../relay-auth" }
relay-aws-extension = { path = "../relay-aws-extension" }
relay-common = { path = "../relay-common" }
relay-config = { path = "../relay-config" }
relay-filter = { path = "../relay-filter" }
relay-general = { path = "../relay-general" }
relay-kafka = { path = "../relay-kafka", optional = true }
relay-log = { path = "../relay-log", features = ["sentry"] }
relay-metrics = { path = "../relay-metrics" }
relay-monitors = { path = "../relay-monitors", optional = true }
relay-profiling = { path = "../relay-profiling", optional = true }
relay-dynamic-config = { path = "../relay-dynamic-config"}
relay-quotas = { path = "../relay-quotas" }
relay-redis = { path = "../relay-redis" }
relay-replays = { path = "../relay-replays" }
relay-sampling = { path = "../relay-sampling" }
relay-statsd = { path = "../relay-statsd" }
relay-system = { path = "../relay-system" }
reqwest = { version = "0.11.1", features = ["gzip", "stream", "trust-dns", "native-tls-vendored"] }
rmp-serde = "1.1.1"
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
# serde_urlencoded = "0.7.0"
smallvec = { version = "1.4.0", features = ["serde"] }
symbolic-common = { version = "11.1.0", optional = true, default-features=false }
symbolic-unreal = { version = "11.1.0", optional = true, default-features=false, features=["serde"] }
take_mut = "0.2.2"
thiserror = "1.0.38"
tokio = { version = "1.0", features = ["rt-multi-thread", "sync", "macros"] }
tokio-native-tls = { version = "0.3.1", optional = true }
tower = { version = "0.4.13", default-features = false }
tower-http = { version = "0.4.0", default-features = false, features = ["cors", "set-header"] }
# tokio-timer = "0.2.13"
url = { version = "2.1.1", features = ["serde"] }
zstd = { version = "0.12.3", optional = true }

[target."cfg(not(windows))".dependencies]
libc = "0.2.71"

[dev-dependencies]
insta = { version = "1.19.0", features = ["json"] }
relay-test = { path = "../relay-test" }
similar-asserts = "1.4.2"
tempfile = "3"
