[package]
name = "relay-server"
authors = ["Sentry <oss@sentry.io>"]
description = "Endpoints and services for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "22.8.0"
edition = "2018"
build = "build.rs"
license-file = "../LICENSE"
publish = false

[features]
default = []
ssl = ["native-tls", "actix-web/tls"]
processing = [
    "minidump",
    "rdkafka",
    "rdkafka-sys",
    "rdkafka-sys/cmake-build",
    "relay-config/processing",
    "relay-quotas/redis",
    "relay-redis/impl",
    "symbolic-unreal",
    "symbolic-common",
]

[dependencies]
actix = "0.7.9"
actix-web = { version = "0.7.19", default-features = false }
base64 = "0.10.1"
brotli2 = "0.3.2"
bytes = { version = "0.4.12", features = ["serde"] }
chrono = { version = "0.4.11", features = ["serde"] }
clap = "2.33.1"
failure = "0.1.8"
flate2 = "1.0.19"
fragile = { version = "1.2.1", features = ["slab"] } # used for vendoring sentry-actix
futures01 = { version = "0.1.28", package = "futures" }
futures = { version = "0.3", package = "futures", features = ["compat"] }
itertools = "0.8.2"
json-forensics = { version = "*", git = "https://github.com/getsentry/rust-json-forensics" }
lazy_static = "1.4.0"
listenfd = "0.3.3"
minidump = { version = "0.10.0", optional = true }
native-tls = { version = "0.2.4", optional = true }
parking_lot = "0.12.1"
rdkafka = { version = "0.24", optional = true }
rdkafka-sys = { version = "2.1.0", optional = true }
regex = "1.5.5"
relay-auth = { path = "../relay-auth" }
relay-aws-extension = { path = "../relay-aws-extension" }
relay-common = { path = "../relay-common" }
relay-config = { path = "../relay-config" }
relay-filter = { path = "../relay-filter" }
relay-general = { path = "../relay-general" }
relay-log = { path = "../relay-log" }
relay-metrics = { path = "../relay-metrics" }
relay-profiling = { path = "../relay-profiling" }
relay-replays = { path = "../relay-replays" }
relay-quotas = { path = "../relay-quotas" }
relay-redis = { path = "../relay-redis" }
relay-sampling = { path = "../relay-sampling" }
relay-statsd = { path = "../relay-statsd" }
relay-system = { path = "../relay-system" }
reqwest = { version = "0.11.1", features = ["gzip", "stream", "trust-dns", "native-tls-vendored"] }
rmp-serde = "0.14.3"
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
serde_urlencoded = "0.7.0"
smallvec = { version = "1.4.0", features = ["serde"] }
symbolic-common = { version = "8.7.2", optional = true, default-features=false }
symbolic-unreal = { version = "8.7.2", optional = true, default-features=false, features=["serde"] }
take_mut = "0.2.2"
tokio = { version = "1.0", features = ["rt-multi-thread"] } # in sync with reqwest
tokio-timer = "0.2.13"
url = { version = "2.1.1", features = ["serde"] }
uuid = { version = "0.8.1", features = ["v5"] }
zstd = { version = "0.11.2"}

[target."cfg(not(windows))".dependencies]
libc = "0.2.71"

[dev-dependencies]
insta = "1.1.0"
relay-test = { path = "../relay-test" }
