[package]
name = "relay-kafka"
authors = ["Sentry <oss@sentry.io>"]
description = "Kafka related functionality for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.7.1"
edition = "2018"
license-file = "../LICENSE"
publish = false

[dependencies]
rdkafka = { version = "0.29.0", optional = true, features = ["tracing"] }
rdkafka-sys = { version = "4.3.0", optional = true }
relay-log = { path  = "../relay-log", optional = true }
relay-statsd = { path  = "../relay-statsd", optional = true }
rmp-serde = { version = "1.1.1", optional = true }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = { version = "1.0.55", optional = true }
thiserror = "1.0.38"
sentry-kafka-schemas = { version = "0.1.12", default_features = false }
jsonschema = "0.17.0"

[dev-dependencies]
serde_yaml = "0.9.17"

[features]
default = []
producer = [
  "dep:rdkafka",
  "dep:relay-log",
  "dep:relay-statsd",
  "dep:rmp-serde",
  "dep:serde_json",
  "rdkafka-sys/cmake-build",
]
