[package]
name = "relay-kafka"
authors = ["Sentry <oss@sentry.io>"]
description = "Kafka related functionality for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.11.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
rdkafka = { version = "0.29.0", optional = true, features = ["tracing"] }
rdkafka-sys = { version = "4.3.0", optional = true }
relay-log = { path = "../relay-log", optional = true }
relay-statsd = { path = "../relay-statsd", optional = true }
rmp-serde = { version = "1.1.1", optional = true }
serde = { workspace = true }
serde_json = { workspace = true, optional = true }
thiserror = { workspace = true }
sentry-kafka-schemas = { version = "0.1.12", default_features = false, optional = true }
jsonschema = { version = "0.17.0", optional = true }

[dev-dependencies]
serde_yaml = { workspace = true }

[features]
default = []
schemas = ["dep:jsonschema", "dep:sentry-kafka-schemas"]
producer = [
  "dep:rdkafka",
  "dep:relay-log",
  "dep:relay-statsd",
  "dep:rmp-serde",
  "dep:serde_json",
  "rdkafka-sys/cmake-build",
]
