[package]
name = "relay-system"
authors = ["Sentry <oss@sentry.io>"]
description = "Foundational system components for Relay's services"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.7.0"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[dependencies]
futures = { workspace = true }
once_cell = { workspace = true }
relay-log = { workspace = true }
relay-statsd = { workspace = true }
tokio = { workspace = true, features = ["rt", "signal", "macros", "sync", "time"] }

[dev-dependencies]
relay-statsd = { workspace = true, features = ["test"] }
tokio = { workspace = true, features = ["test-util"] }
