[package]
name = "relay-system"
authors = ["Sentry <oss@sentry.io>"]
description = "Foundational system components for Relay's services"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "25.12.1"
edition = "2024"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[features]
test = []

[dependencies]
futures = { workspace = true }
relay-log = { workspace = true }
relay-statsd = { workspace = true }
tokio = { workspace = true, features = ["rt", "signal", "macros", "sync", "time", "rt-multi-thread"] }
pin-project-lite = { workspace = true }


[dev-dependencies]
insta = { workspace = true }
relay-statsd = { workspace = true, features = ["test"] }
tokio = { workspace = true, features = ["test-util"] }
futures =  { workspace = true, features = ["async-await"] }
