[package]
name = "relay-system"
authors = ["Sentry <oss@sentry.io>"]
description = "Foundational system components for Relay's services"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.11.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[lints]
workspace = true

[dependencies]
futures = { workspace = true }
once_cell = { workspace = true }
relay-log = { path = "../relay-log" }
relay-statsd = { path = "../relay-statsd" }
tokio = { workspace = true, features = ["rt", "signal"] }

[dev-dependencies]
relay-statsd = { path = "../relay-statsd", features = ["test"] }
tokio = { workspace = true, features = ["test-util"] }
