[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Common functionality for the sentry relay"
documentation = "https://docs.rs/semaphore-common"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-common"
repository = "https://github.com/getsentry/semaphore"
version = "0.2.3"

[dependencies]
backoff = "0.1.2"
base64 = "0.9.3"
cadence = "0.15.1"
chrono = "0.4.6"
failure = "0.1.2"
failure_derive = "0.1.2"
lazy_static = "1.1.0"
log = { version = "0.4.5", features = ["serde"] }
human-size = "0.4.0"
marshal = { git = "https://github.com/getsentry/marshal", rev = "c2d77447f3c6c5833adaffa1a7363eba3a3cbc7f" }
parking_lot = "0.6.4"
rand = "0.5.5"
sentry-types = "0.8.1"
serde = "1.0.79"
serde_derive = "1.0.79"
serde_json = "1.0.28"
serde_yaml = "0.8.4"
url = "1.7.1"
uuid = { version = "0.7.1", features = ["v4", "serde"] }
regex = "1.0.5"
ed25519-dalek = "0.8.0"
sha2 = "0.7.1"

[dependencies.semaphore-general]
path = "../general"
