[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Common functionality for the sentry relay"
documentation = "https://docs.rs/semaphore-common"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-common"
repository = "https://github.com/getsentry/semaphore"
version = "0.1.2"

[dependencies]
failure = "0.1.2"
failure_derive = "0.1.2"
url = "1.7.1"
serde = "1.0.70"
serde_derive = "1.0.70"
serde_json = "1.0.24"
hyper = "0.11.27"
sentry-types = "0.6.2"
lazy_static = "1.0.2"
cadence = "0.15.1"
parking_lot = "0.6.3"
log = "0.4.3"
marshal = { git = "https://github.com/getsentry/marshal", rev = "8b7a674e0310f764b682a947694a9679f05540a1" }
