[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Common functionality for the sentry relay"
documentation = "https://docs.rs/semaphore-common"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-common"
repository = "https://github.com/getsentry/semaphore"
version = "0.1.2"

[dependencies]
failure = "0.1.1"
failure_derive = "0.1.1"
url = "1.7.0"
serde = "1.0.66"
serde_derive = "1.0.66"
serde_json = "1.0.20"
hyper = "0.11.27"
sentry-types = "0.6.1"
lazy_static = "1.0.1"
cadence = "0.14.0"
parking_lot = "0.5.5"
log = "0.4.2"
marshal = { git = "https://github.com/getsentry/marshal", rev = "bec795c2ec4a94d07553c3957ed3764b3681bee7" }
