[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Common functionality for the sentry relay"
documentation = "https://docs.rs/semaphore-common"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-common"
repository = "https://github.com/getsentry/semaphore"
version = "0.1.1"

[dependencies]
failure = "0.1.1"
failure_derive = "0.1.1"
url = "1.7.0"
serde = "1.0.45"
serde_derive = "1.0.45"
serde_json = "1.0.17"
hyper = "0.11.25"
sentry-types = "0.5.0"
lazy_static = "1.0.0"
cadence = "0.14.0"
parking_lot = "0.5.5"
log = "0.4.1"
