[package]
authors = ["Sentry <hello@sentry.io>"]
description = "Common functionality for the sentry relay"
documentation = "https://docs.rs/semaphore-common"
homepage = "https://github.com/getsentry/semaphore"
license = "MIT"
name = "semaphore-common"
repository = "https://github.com/getsentry/semaphore"
version = "0.4.15"
edition = "2018"

[dependencies]
backoff = "0.1.2"
base64 = "0.10.0"
cadence = "0.16.0"
chrono = "0.4.6"
ed25519-dalek = "0.9.1"
failure = "0.1.5"
lazy_static = "1.2.0"
log = { version = "0.4.6", features = ["serde"] }
human-size = "0.4.0"
parking_lot = "0.7.1"
rand = "0.6.4"
regex = "1.1.0"
sentry-types = "0.9.0"
sha2 = "0.8.0"
serde = { version = "1.0.85", features = ["derive"] }
serde_json = "1.0.36"
serde_yaml = "0.8.8"
url = "1.7.2"
uuid = { version = "0.7.1", features = ["v4", "serde"] }

[dependencies.semaphore-general]
path = "../general"
