[package]
name = "relay-log"
authors = ["Sentry <oss@sentry.io>"]
description = "Error reporting and logging for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.11.1"
edition = "2021"
license-file = "../LICENSE.md"
publish = false
build = "build.rs"

[dependencies]
chrono = { workspace = true, features = ["clock"], optional = true }
console = { version = "0.15.5", optional = true }
once_cell = { version = "1.13.1", optional = true }
relay-crash = { path = "../relay-crash", optional = true }
sentry = { version = "0.31.7", features = [
    "debug-images",
    "tower-axum-matched-path",
    "tracing",
], optional = true }
sentry-core = { version = "0.31.7" }
tokio = { version = "1", default-features = false, features = [
    "sync",
], optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = [
    "env-filter",
    "json",
    "time",
], optional = true }

[features]
default = []
dashboard = ["dep:once_cell", "dep:tokio"]
test = ["dep:tracing-subscriber"]
init = [
    "dep:chrono",
    "dep:console",
    "dep:sentry",
    "dep:serde",
    "dep:serde_json",
    "dep:tracing-subscriber",
]
crash-handler = ["init", "dep:relay-crash"]
sentry = ["dep:sentry"]
