[package]
name = "relay-log"
authors = ["Sentry <oss@sentry.io>"]
description = "Error reporting and logging for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.7.1"
edition = "2021"
license-file = "../LICENSE.md"
publish = false
build = "build.rs"

[lints]
workspace = true

[dependencies]
console = { workspace = true, optional = true }
once_cell = { workspace = true, optional = true }
relay-common = { workspace = true }
relay-crash = { workspace = true, optional = true }
sentry = { workspace = true, features = [
    "debug-images",
    "tracing",
], optional = true }
sentry-core = { workspace = true }
tokio = { workspace = true, default-features = false, features = [
    "sync",
], optional = true }
serde = { workspace = true, optional = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = [
    "env-filter",
    "json",
    "time",
], optional = true }

[features]
default = []
dashboard = ["dep:once_cell", "dep:tokio"]
test = ["dep:tracing-subscriber"]
init = [
    "dep:console",
    "dep:sentry",
    "dep:serde",
    "dep:tracing-subscriber",
]
crash-handler = ["init", "dep:relay-crash"]
sentry = ["dep:sentry"]
