[package]
name = "relay-protocol"
authors = ["Sentry <oss@sentry.io>"]
description = "Types and traits for building JSON-based protocols and schemas"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.1.2"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[dependencies]
num-traits = "0.2.12"
relay-common = { path = "../relay-common" }
relay-protocol-derive = { path = "../relay-protocol-derive", optional = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
smallvec = { workspace = true }
uuid = { workspace = true }
unicase = "2.6.0"

[dev-dependencies]
insta = { workspace = true }
similar-asserts = { workspace = true }

[features]
default = []
derive = ["dep:relay-protocol-derive"]
jsonschema = ["dep:schemars"]
test = []
