[package]
name = "relay"
authors = ["Sentry <oss@sentry.io>"]
description = "The Relay binary, a proxy server for Sentry"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.7.0"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[features]
dashboard = ["relay-server/dashboard", "relay-log/dashboard"]
default = []
processing = ["relay-server/processing", "dep:relay-kafka"]
crash-handler = ["relay-log/crash-handler"]

[lints]
workspace = true

# Direct dependencies of the main application in `src/`
[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ["env", "wrap_help"] }
clap_complete = { workspace = true }
dialoguer = { workspace = true }
hostname = { workspace = true }
once_cell = { workspace = true }
relay-config = { workspace = true }
relay-log = { workspace = true, features = ["init"] }
relay-server = { workspace = true }
relay-statsd = { workspace = true }
relay-kafka = { workspace = true, optional = true }
uuid = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
tikv-jemallocator = { workspace = true, features = ["background_threads"] }
