[package]
name = "relay"
authors = ["Sentry <oss@sentry.io>"]
description = "The Relay binary, a proxy server for Sentry"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.1.1"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[features]
dashboard = ["relay-server/dashboard", "relay-log/dashboard"]
default = []
processing = ["relay-server/processing"]
crash-handler = ["relay-log/crash-handler"]

# Direct dependencies of the main application in `src/`
[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ["env", "wrap_help"] }
clap_complete = "4.1.1"
dialoguer = "0.10.0"
hostname = "0.3.1"
once_cell = { workspace = true }
relay-config = { path = "../relay-config" }
relay-log = { path = "../relay-log", features = ["init"] }
relay-server = { path = "../relay-server" }
relay-statsd = { path = "../relay-statsd" }
uuid = { workspace = true }

[target.'cfg(target_os = "linux")'.dependencies]
tikv-jemallocator = { version = "0.5.0", features = ["background_threads"] }
