[package]
name = "relay"
authors = ["Sentry <oss@sentry.io>"]
description = "The Relay binary, a proxy server for Sentry"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "22.11.0"
edition = "2021"
build = "build.rs"
license-file = "../LICENSE"
publish = false

[features]
default = ["ssl"]
ssl = ["relay-server/ssl"]
processing = ["relay-server/processing"]
crash-handler = ["relay-log/crash-handler"]

# Direct dependencies of the main application in `src/`
[dependencies]
clap = { version = "2.33.0", default-features = false, features = ["wrap_help"] }
console = "0.10.0"
dialoguer = "0.5.0"
failure = "0.1.8"
futures01 = { version = "0.1.28", package = "futures" }
hostname = "0.3.1"
once_cell = "1.13.1"
relay-common = { path = "../relay-common" }
relay-config = { path = "../relay-config" }
relay-log = { path = "../relay-log", features = ["init"] }
relay-server = { path = "../relay-server" }
relay-statsd = { path = "../relay-statsd" }

[build-dependencies]
clap = { version = "2.33.1", default-features = false }
