.logs {
  font-family: monospace;
  white-space: pre;
  width: 100%;
  text-wrap: wrap;
  max-height: 35em;
  height: 35em;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.stats-container {
  margin: 2em;
  padding: 1em;
}

.logo {
  display: inline-block;
  max-height:100%; 
  max-width:100%;
  height: 100%;
}
