.container {}

.logs-container {
  width: 100%;
  display: block;
}

.logs {
  font-family: monospace;
  white-space: pre;
  width: 100%;
  text-wrap: wrap;
  height: 200px;  /* tmp, feel free to remove */
  overflow: auto;
}

.graph-container {
  border: solid 1px #eee;
  width: 400px;
}
