[package]
name = "relay-pii"
authors = ["Sentry <oss@sentry.io>"]
description = "Scrubbing of personally identifiable information (PII) from events"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.5.1"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[dependencies]
hmac = { workspace = true }
minidump = { workspace = true }
once_cell = { workspace = true }
pest = { workspace = true }
pest_derive = { workspace = true }
regex = { workspace = true }
relay-common = { workspace = true }
relay-event-schema = { workspace = true }
relay-log = { workspace = true }
relay-protocol = { workspace = true }
serde = { workspace = true }
sha1 = { workspace = true }
smallvec = { workspace = true }
thiserror = { workspace = true }
utf16string = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
itertools = { workspace = true }
pretty-hex = { workspace = true }
relay-protocol = { workspace = true, features = ["test"] }
serde_json = { workspace = true }
similar-asserts = { workspace = true }

[features]
default = []
