[package]
name = "relay-redis"
authors = ["Sentry <oss@sentry.io>"]
description = "Pooled Redis and Redis cluster abstraction for Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.11.0"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[dependencies]
r2d2 = { workspace = true, optional = true }
bb8-redis = { workspace = true, optional = true }
redis = { workspace = true, optional = true, features = [
    "cluster",
    "r2d2",
    "tls-native-tls",
    "keep-alive",
    "script",
    "tokio-native-tls-comp",
    "cluster-async"
], default-features = false }
relay-log = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }

[features]
default = []
impl = ["dep:r2d2", "dep:redis", "dep:bb8-redis"]

[dev-dependencies]
serde_yaml = { workspace = true }
