[package]
name = "relay-event-normalization"
authors = ["Sentry <oss@sentry.io>"]
description = "Event normalization and processing"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "23.8.0"
edition = "2021"
license-file = "../LICENSE"
publish = false

[dependencies]
bytecount = "0.6.0"
chrono = { version = "0.4.24", default-features = false, features = [
    "clock",
    "std",
    "serde",
] }
dynfmt = { version = "0.1.4", features = ["python", "curly"] }
itertools = "0.10.5"
maxminddb = "0.23.0"
md5 = "0.7.0"
once_cell = "1.13.1"
regex = "1.9.1"
relay-base-schema = { path = "../relay-base-schema" }
relay-common = { path = "../relay-common" }
relay-event-schema = { path = "../relay-event-schema" }
relay-log = { path = "../relay-log" }
relay-protocol = { path = "../relay-protocol" }
relay-ua = { path = "../relay-ua" }
sentry-release-parser = "1.3.2"
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
serde_urlencoded = "0.7.1"
smallvec = { version = "1.4.0", features = ["serde"] }
sqlparser = { version = "0.37.0", features = ["visitor"] }
thiserror = "1.0.38"
url = "2.1.1"

[dev-dependencies]
insta = { version = "1.31.0", features = ["json", "redactions", "ron", "yaml"] }
relay-protocol = { path = "../relay-protocol", features = ["test"] }
similar-asserts = "1.4.2"

[features]
default = ["mmap"]
mmap = ["maxminddb/mmap"]
