[package]
name = "relay-pattern"
authors = ["Sentry <oss@sentry.io>"]
description = "A glob like pattern used throughout Relay"
homepage = "https://getsentry.github.io/relay/"
repository = "https://github.com/getsentry/relay"
version = "24.7.1"
edition = "2021"
license-file = "../LICENSE.md"
publish = false

[lints]
workspace = true

[dependencies]
memchr = { workspace = true }
regex-lite = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }

[[bench]]
name = "benches"
harness = false
