name: Beta CI

on:
  schedule:
    - cron: "11 7 * * 1,4"

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test-all:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [beta]

    services:
      redis: # https://docs.github.com/en/actions/guides/creating-redis-service-containers
        image: redis
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
          components: clippy

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features --workspace --tests --examples -- -D clippy::all

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features
