name: Binary Release Build

on:
  push:
    branches:
      - release/**

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build in Docker
        run: |
          # Get the latest stable rust toolchain version available
          TOOLCHAIN=$(curl -s 'https://static.rust-lang.org/dist/channel-rust-stable.toml' | awk '/\[pkg.rust\]/ {getline;print;}' | sed -r 's/^version = "([0-9.]+) .*/\1/')
          scripts/docker-build-linux.sh "$TOOLCHAIN"
        env:
          BUILD_ARCH: x86_64
          RELAY_FEATURES:

      - name: Bundle Debug File
        run: |
          cd target/x86_64-unknown-linux-gnu/release/
          zip relay-Linux-x86_64-debug.zip relay.debug
          mv relay relay-Linux-x86_64

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: target/x86_64-unknown-linux-gnu/release/relay-Linux-x86_64*

  macos:
    name: macOS
    runs-on: macos-11

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update

      - name: Run Cargo Build
        run: cargo build --manifest-path=relay/Cargo.toml --release
        env:
          CARGO_PROFILE_RELEASE_SPLIT_DEBUGINFO: packed

      - name: Bundle dSYM
        run: |
          cd target/release
          mv relay relay-Darwin-x86_64
          zip -r relay-Darwin-x86_64-dsym.zip relay.dSYM

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: target/release/relay-Darwin-x86_64*

  windows:
    name: Windows
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update

      - name: Run Cargo Build
        run: cargo build --manifest-path=relay/Cargo.toml --release

      - name: Bundle PDB
        run: |
          Install-Module 7Zip4PowerShell -Force -Verbose
          cd target/release
          7z a relay-Windows-x86_64-pdb.zip relay.pdb
          mv relay.exe relay-Windows-x86_64.exe

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}
          path: target/release/relay-Windows-x86_64*
