name: Binary Release Build

on:
  push:
    branches:
      - release/**

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update

      - name: Build binary
        run: |
          make build-linux-release
        env:
          RELAY_FEATURES:

      - name: Bundle Debug File
        run: |
          cd target/release/
          zip relay-Linux-x86_64-debug.zip relay.debug
          mv relay relay-Linux-x86_64

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          path: target/release/relay-Linux-x86_64*

  macos:
    name: macOS
    runs-on: macos-11

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update

      - name: Run Cargo Build
        run: cargo build --manifest-path=relay/Cargo.toml --release
        env:
          CARGO_PROFILE_RELEASE_SPLIT_DEBUGINFO: packed

      - name: Bundle dSYM
        run: |
          cd target/release
          mv relay relay-Darwin-x86_64
          zip -r relay-Darwin-x86_64-dsym.zip relay.dSYM

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          path: target/release/relay-Darwin-x86_64*

  windows:
    name: Windows
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update

      - name: Run Cargo Build
        run: cargo build --manifest-path=relay/Cargo.toml --release

      - name: Bundle PDB
        run: |
          Install-Module 7Zip4PowerShell -Force -Verbose
          cd target/release
          7z a relay-Windows-x86_64-pdb.zip relay.pdb
          mv relay.exe relay-Windows-x86_64.exe

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          path: target/release/relay-Windows-x86_64*
