name: CI

on:
  push:
    branches:
      - master
      - release/**
      - release-library/**

  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    timeout-minutes: 30
    strategy:
      matrix:
        # the arm64 build takes too long, so disable for now
        arch: [amd64]
    name: Build Docker Image (${{ matrix.arch }})
    runs-on: ubuntu-latest
    env:
      IMG_DEPS: ghcr.io/getsentry/relay-deps:${{ matrix.arch }}
      # GITHUB_SHA in pull requests points to the merge commit
      IMG_VERSIONED: ghcr.io/getsentry/relay:${{ matrix.arch }}-${{ github.event.pull_request.head.sha || github.sha }}
      IMG_DEFAULT: ghcr.io/getsentry/relay:${{ github.event.pull_request.head.sha || github.sha }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}-${{ matrix.arch }}

      - run: docker run --rm --privileged tonistiigi/binfmt --install arm64
        if: matrix.arch == 'arm64'

      - name: ghcr.io login
        run: docker login --username '${{ github.actor }}' --password '${{ secrets.GITHUB_TOKEN }}' ghcr.io

      - name: build-deps
        run: |
          set -euxo pipefail
          args=()
          if docker pull -q "$IMG_DEPS"; then
            args+=(--cache-from "$IMG_DEPS")
          fi
          docker buildx build \
              "${args[@]}" \
              --cache-to type=inline \
              --platform linux/${{ matrix.arch }} \
              --tag "$IMG_DEPS" \
              --target relay-deps \
              --push \
              .

      - name: build
        run: |
          if [ "${{ matrix.arch }}" = "amd64" ]; then
            BUILD_TARGET="x86_64-unknown-linux-gnu"
          elif [ "${{ matrix.arch }}" = "arm64" ]; then
            BUILD_TARGET="aarch64-unknown-linux-gnu"
          fi

          docker run \
              -v "$(pwd):/work" \
              --platform linux/${{ matrix.arch }} \
              -e TARGET="$BUILD_TARGET" \
              "$IMG_DEPS" \
              scl enable devtoolset-10 llvm-toolset-7.0 -- make build-release-with-bundles RELAY_FEATURES="ssl,processing,crash-handler"

          # Fix permissions for shared directories
          USER_ID=$(id -u)
          GROUP_ID=$(id -g)
          sudo chown -R ${USER_ID}:${GROUP_ID} target/

          docker buildx build \
              --platform linux/${{ matrix.arch }} \
              --tag "$IMG_VERSIONED" \
              --push \
              --file Dockerfile.release \
              .

      - name: ghcr.io push
        if: matrix.arch == 'amd64'
        run: |
          set -euxo pipefail
          # for now arm64 is too slow so just retag this with "latest" and current SHA
          docker tag "$IMG_VERSIONED" "$IMG_DEFAULT"
          docker tag "$IMG_VERSIONED" ghcr.io/getsentry/relay:latest
          docker push $IMG_DEFAULT
          docker push ghcr.io/getsentry/relay:latest

        # Uncomment and update when the push creadentials for GCR are available and we can remove cloudbuild altogether.
        #
        # - name: push gcr.io
        #   # TODO: this actually should be the same like in cloudbuild now, build and push on every commit in PR as well.
        #   if: github.event_name != 'pull_request'
        #   run: |
        #     set -euxo pipefail
        #     # TODO: get creadentials for pushing this and remove ./cloudbuild.yaml so they won't conflict
        #     # docker login --username '${{ github.actor }}' --password '${{ secrets.GITHUB_TOKEN }}' us.gcr.io
        #     docker tag "$IMG_VERSIONED" "us.gcr.io/sentryio/relay:${{ github.sha }}"
        #     docker push "us.gcr.io/sentryio/relay:${{ github.sha }}"

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Install libcurl-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install Dependencies
        run: pip install -U -r requirements-dev.txt

      - name: Run Black
        run: black --check py tests --exclude '\.eggs|sentry_relay/_lowlevel.*'

      - name: Run Flake8
        run: flake8 py

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: clippy, rustfmt, rust-docs
          override: true

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Run Rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets --all-features --no-deps -- -D warnings

      - name: Check Docs
        uses: actions-rs/cargo@v1
        env:
          RUSTDOCFLAGS: -Dwarnings
        with:
          command: doc
          args: --workspace --all-features --no-deps --document-private-items

  lint_default:
    name: Lint Rust Default Features
    runs-on: ubuntu-latest

    steps:
      - name: Install libcurl-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: clippy
          override: true

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets --no-deps -- -D warnings

  test:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]

    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    # Skip redundant checks for library releases
    if: "!startsWith(github.ref, 'refs/heads/release-library/')"

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Run Cargo Tests
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: -Dwarnings
        with:
          command: test
          args: --workspace

  test_all:
    timeout-minutes: 15
    name: Test All Features (ubuntu-latest)
    runs-on: ubuntu-latest

    # Skip redundant checks for library releases
    if: "!startsWith(github.ref, 'refs/heads/release-library/')"

    # Testing all features requires Docker container operations that are only available on
    # `ubuntu-latest`. This `test-all` job is to be seen as complementary to the `test` job. If
    # services become available on other platforms, the jobs should be consolidated. See
    # https://docs.github.com/en/actions/guides/about-service-containers

    services:
      redis: # https://docs.github.com/en/actions/guides/creating-redis-service-containers
        image: redis
        ports:
          - 6379:6379

    steps:
      - name: Install libcurl-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Run Cargo Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features

  test_py:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]

    # Skip redundant checks for binary releases
    if: "!startsWith(github.ref, 'refs/heads/release/')"

    name: Test Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: pip install -U pytest

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Build and Install Library
        run: pip install -v --editable py
        env:
          RELAY_DEBUG: 1

      - name: Run Python Tests
        run: pytest -v py

  test_integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    # Skip redundant checks for library releases
    if: "!startsWith(github.ref, 'refs/heads/release-library/')"

    services:
      redis: # https://docs.github.com/en/actions/guides/creating-redis-service-containers
        image: redis
        ports:
          - 6379:6379

      # Kafka + Zookeeper version synced with
      # https://github.com/getsentry/sentry/blob/363509c242aff197409207ce4990fb061f3534a3/.github/actions/setup-sentry/action.yml#L174

      zookeeper:
        image: confluentinc/cp-zookeeper:4.1.0
        env:
          ZOOKEEPER_CLIENT_PORT: 2181

      kafka:
        image: confluentinc/cp-kafka:5.1.2
        env:
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://127.0.0.1:9092
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS: 1
        ports:
          - 9092:9092

    steps:
      - name: Install libcurl-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - uses: swatinem/rust-cache@v2
        with:
          key: ${{ github.job }}

      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-features

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: pip install -U -r requirements-dev.txt

      - name: Run tests
        run: pytest tests -n auto -v
        env:
          RELAY_VERSION_CHAIN: "20.6.0,latest"

  sentry-relay-integration-tests:
    name: Sentry-Relay Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 25
    needs: build

    # Skip redundant checks for library releases
    if: "!startsWith(github.ref, 'refs/heads/release-library/')"

    steps:
      - name: Checkout Relay
        uses: actions/checkout@v3
        with:
          submodules: recursive

      # Checkout Sentry and run integration tests against latest Relay
      - name: Checkout Sentry
        uses: actions/checkout@v3
        with:
          repository: getsentry/sentry
          path: sentry

      - name: Setup steps
        id: setup
        run: |
          # GITHUB_SHA in pull requests points to the merge commit
          RELAY_TEST_IMAGE=ghcr.io/getsentry/relay:${{ github.event.pull_request.head.sha || github.sha }}
          echo "We expected GCB to push this image $RELAY_TEST_IMAGE"
          echo "relay-test-image=$RELAY_TEST_IMAGE" >> "$GITHUB_OUTPUT"
          # We cannot execute actions that are not placed under .github of the main repo
          mkdir -p .github/actions
          cp -r sentry/.github/actions/setup-sentry .github/actions/

      - name: Setup Sentry
        uses: ./.github/actions/setup-sentry
        with:
          workdir: sentry
          cache-files-hash: ${{ hashFiles('sentry/requirements**.txt') }}
          python-version: 3.8
          snuba: true
          kafka: true

      - name: Pull the image
        env:
          RELAY_TEST_IMAGE: ${{ steps.setup.outputs.relay-test-image }}
        run: |
          echo "We poll for the Relay Docker image that the GCB build produces until it succeeds or this job times out."
          if [[ -z "$RELAY_TEST_IMAGE" ]]; then
              echo "The RELAY_TEST_IMAGE needs to be set" 1>&2
              exit 1
          fi
          echo "Polling for $RELAY_TEST_IMAGE"
          until docker pull "$RELAY_TEST_IMAGE" 2>/dev/null; do
              sleep 10
          done

      - name: Run Sentry integration tests
        working-directory: sentry
        env:
          RELAY_TEST_IMAGE: ${{ steps.setup.outputs.relay-test-image }}
        run: |
          echo "Testing against ${RELAY_TEST_IMAGE}"
          make test-relay-integration

  self-hosted-end-to-end:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: build

    # Skip redundant checks for library releases
    if: "!startsWith(github.ref, 'refs/heads/release-library/')"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Run Sentry self-hosted e2e CI
        uses: getsentry/action-self-hosted-e2e-tests@627c9b50cb168c546ed6e2c461dae76d5d0c7cdb
        with:
          project_name: relay
          image_url: ghcr.io/getsentry/relay:${{ github.event.pull_request.head.sha || github.sha }}
          docker_repo: getsentry/relay
          docker_password: ${{ secrets.DOCKER_HUB_RW_TOKEN }}
