name: "Danger"
on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  build:
    name: Changelogs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
      - run: npx danger@10.5.3 ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
