name: Enforce License Compliance

on:
  push:
    branches:
      - master
      - release/**
      - release-library/**

  pull_request:
    branches: [master]
  merge_group:

permissions:
  contents: write
  pull-requests: write

jobs:
  enforce-license-compliance:
    runs-on: ubuntu-latest
    steps:
      - name: "Enforce License Compliance"
        uses: getsentry/action-enforce-license-compliance@main
        with:
          fossa_api_key: ${{ secrets.FOSSA_API_KEY }}
